/* ADFS page stylesheet */

#header,
#footer,
#footerPlaceholder {
    display: none;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#brandingWrapper,
#contentWrapper {
    all: unset;
}

#content {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pork-bg-color);
}

#content main {
    display: flex;
}

#workArea {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    background-color: var(--pork-bg-color-2);
    border-radius: var(--pork-border-radius);
    padding: 24px;
    color: var(--porf-fg-color);
}

#authArea {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

#loginArea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#submissionArea {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

#submitButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pork-fg-color);
    color: var(--pork-bg-color);
    transition: all ease-in-out .2s;
}

#submitButton:hover {
    background-color: var(--pork-accent-color);
}

#submitButton, input {
    height: 32px !important;
}

input {
    background-color: transparent;
    border: none !important;
    border-bottom: 2px solid var(--porf-fg-color) !important;
    outline: none !important;
    color: var(--porf-fg-color);
}