/* Stylesheet for home and auth page */

* {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: none !important;
    scrollbar-width: thin; /* Firefox only */
}

/* Loader styles */

#bdv-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bdv-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

#bdv-loader p {
    width: 100px;
    height: 100px;
    border: 4px solid var(--bdv-bg-color-2);
    border-radius: 50%;
    border-top-color: transparent;
    font-size: 0;
    animation: wait forwards infinite linear 4s;
}

body:not(.bdv) {
    /* Prevent from showing body until injection has finished */
    visibility: hidden;
}

#b-sidebar-1,
.b-sidebar-body-wrap {
    /* Disable pannel open animation on start, might re-enable in js */
    transition: none !important;
}

@keyframes wait {
    0% { rotate: 0deg; }
    100% { rotate: 360deg; }
}

/* Auth page styles */

body.bdv {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bdv-bg-color);
}

body.bdv .container {
    text-align: center;
    color: var(--bdv-fg-color);
    background-color: var(--bdv-bg-color-2);
    padding: 32px;
    border-radius: var(--bdv-border-radius);
}

body.bdv #msg {
    background-color: var(--bdv-error-color);
    padding: 16px;
    margin: 10px;
    border-radius: var(--bdv-border-radius);
    max-width: 320px;
}

body.bdv #msg button {
    margin: 10px;
}

body.bdv form {
    display: flex;
    flex-direction: column;
}

body.bdv input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--bdv-fg-color);
    padding: 5px;
    text-align: start;
    outline: none;
    color: var(--bdv-fg-color);
}

body.bdv input[type='submit'] {
    background-color: var(--bdv-accent-color);
    border: none;
    border-radius: var(--bdv-border-radius);
    color: var(--bdv-fg-color);
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: all ease-in-out .2s;
    height: 40px;
}

body.bdv input[type='submit']:hover,
body.bdv input[type='submit']:focus {
    background-color: var(--bdv-fg-color);
    color: var(--bdv-bg-color);
}

body.bdv #ball {
    width: 60px;
    height: 60px;
    background-color: var(--bdv-accent-color);
    margin-bottom: 100px;
    border-radius: var(--bdv-border-radius);
    animation: move-ball 4s infinite forwards alternate;
}

@keyframes move-ball {
    from { transform: translateX(-70px) }
    to   { transform: translateX( 70px) }
}

/* Navbar and sidebar styles */

.social-box,
.navbar .divider-vertical,
.social-sidebar .user,
.social-sidebar .navigation-sidebar {
    display: none;
}

.site-menubar {
    all: unset;
    position: fixed;
    top: var(--bdv-gap);
    height: 40px;
    right: var(--bdv-gap);

    background-color: transparent !important;
}

.site-menubar .site-menu-arrow {
    display: none;
}

.site-menubar a {
    padding: 3px;
    color: var(--bdv-fg-color) !important;
    transition: all ease-in-out .2s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 50px !important;
    font-size: 18px !important;
}

.site-menubar li.site-menu-item,
.site-menubar a {
    background-color: transparent !important;
}

.site-menubar .dropdown-menu * {
    font-size: 14px !important;
}

.site-menubar ul {
    padding-left: 0;
    padding-right: 0;
}

.site-menubar .site-menu-title-main {
    display: none;
}

.site-menubar .dropdown-menu {
    background-color: var(--bdv-bg-color-2) !important;
    border: 4px solid var(--bdv-bg-color);
    transform: translate(-50%, calc(var(--bdv-gap) + 5px));
    border-radius: var(--bdv-border-radius);

    box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22),
                0 5px 14px 0 rgba(0, 0, 0, .18) !important;
}

.site-menubar .site-menu-icon {
    margin-right: 0 !important;
}

.site-menu > li:first-child {
    display: none;
}

.site-menubar .site-menu-item:hover {
    color: var(--bdv-accent-color) !important;
    background-color: transparent !important;
}

.site-menu a:hover,
.site-menu li.open a[data-toggle='dropdown'] {
    color: var(--bdv-accent-color) !important;
}

.nav-indicators a {
    text-shadow: none !important;
    padding: 0 !important;
}

.nav-indicators .fa-ellipsis-vertical {
    margin-left: 20px !important;
}

.nav-indicators {
    overflow: hidden;
}

.site-menu .nav-indicators .dropdown-menu {
    position: fixed !important;
    top: calc(50px + var(--bdv-gap)) !important;
}

.nav-indicators .nav-messages .dropdown-menu {
    border: 4px solid var(--bdv-bg-color) !important;
    display: flex !important;
    flex-direction: column;
    padding: 10px;
    background-color: var(--bdv-bg-color-2) !important;
    background: none !important;
    background-image: none !important;
}

.nav-indicators .nav-messages .nav-messages-header,
.nav-indicators .nav-messages .nav-messages-footer {
    background-color: var(--bdv-bg-color-2) !important;
    border-radius: 0px !important;
    border-top: none !important;
}

.nav-indicators .divider {
    display: none !important;
}

.nav-indicators .dropdown-menu a:hover {
    color: var(--bdv-accent-color) !important;
    background-color: transparent !important;
}

.nav-indicators .dropdown-menu:last-child {
    position: fixed !important;
    right: var(--bdv-gap) !important;
    transform: translate(-5px, calc(var(--bdv-gap) + 5px));
}

.site-menu .dropdown-menu::before,
.site-menu .dropdown-menu::after {
    display: none !important;
}

/*
.site-menubar .dropdown-menu::before {
    display: block !important;
    position: fixed;
    content: '';
    width: 0 !important;
    height: 0 !important;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--bdv-bg-color);
    transform: translate(calc(240px / 2), calc(-100% - 8px));
}*/

html:not(.bdv) {
    margin-left: calc(50px + 2 * var(--bdv-gap));
    margin-top: calc(50px + 2 * var(--bdv-gap));
    margin-right: var(--bdv-gap);
    background-color: var(--bdv-bg-color);
}

.navbar-inner,
.navbar-inner .container-fluid {
    background-color: var(--bdv-bg-color-2) !important;
    border: none !important;
    border-radius: var(--bdv-border-radius) !important;
    margin: 0 !important;
    padding: 0 !important;
}

.navbar {
    position: absolute;
    left: 0 !important;
    height: 0 !important;
    margin: 10px !important;
    padding: none !important;
    border-radius: var(--bdv-border-radius) !important;
}

.navbar-inner .container-fluid {
    height: 50px !important;
}

.navbar-inner::after,
.navbar-inner::before {
    display: none !important;
}

.navbar-inner-pres {
    padding: 0;
    margin: 0;
    height: 50px;
    background-color: var(--bdv-bg-color);
    overflow: visible !important;
}

.navbar-inner-title {
    background-color: var(--bdv-bg-color-2);
    color: var(--bdv-fg-color) !important;
    height: 50px;
    padding: 0;
    margin: 0;
    border-top-left-radius: var(--bdv-border-radius);
    border-bottom-left-radius: var(--bdv-border-radius);
    display: flex;
    align-items: center;
    padding-left: 15px;
    user-select: none;
}

@media (max-width: 600px) {
    .navbar-inner-title {
        display: none !important;
    }
}

.nav-indicators {
    height: 50px;
    margin: 0;
    padding: 0;
    display: flex !important;
    align-items: center;
    margin-right: max(var(--bdv-gap), 10px) !important;
}

.nav-indicators > li:nth-child(3) { /* 2nd element but take into account separators */
    display: none !important;
}

.social-sidebar {
    /* Make sure sidebar isn't affected by
       window resizes */
    width: 50px !important;
    height: calc(100% - 50px - 3 * var(--bdv-gap) - 1px) !important;
    position: absolute !important;
    margin: var(--bdv-gap) !important;
    padding: 0 !important;
    margin-top: 0 !important;
    top: calc(50px + 2 * var(--bdv-gap)) !important;
    left: 0 !important;
    overflow: hidden;
    text-align: center;
    border-radius: var(--bdv-border-radius) !important;
    overflow-y: hidden;
    color: var(--bdv-bg-color) !important;
    background-color: var(--bdv-bg-color) !important;
}

.schoole_pastil {
    background-color: none;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    width: 50px;
    height: 50px;
    margin-right: var(--bdv-gap) !important;
    cursor: pointer;
}

@keyframes swip {
    0% {
        rotate: 0deg;
        scale: 1;
    }

    70% {
        rotate: 20deg;
        scale: 1.18;
    }

    90% {
        rotate: -5deg;
        scale: 1.01;
    }

    100% {
        rotate: 0deg;
        scale: 1;
    }
}

.schoole_pastil img,
.schoole_pastil canvas {
    width: calc(50px - 20px); /* Not gaps, see border property */
    height: calc(50px - 20px);
    border-radius: var(--bdv-border-radius);
    background-color: none;
    border: none;
    padding: 0;
    margin: 0 !important;
    padding: 0 !important;
    user-select: none;
    
    /* Image is low res, so we reduce it by a bit
       so people don't notice (temporary color
       until evaluated on js side) */
    border: 10px solid var(--bdv-accent-color) !important;
}



.social-sidebar span {
    display: none !important;
}

.social-sidebar-content {
    border: none !important;
    background-color: var(--bdv-bg-color-2) !important;
    border-radius: var(--bdv-border-radius) !important;
}

.social-sidebar-content * {
    background-color: transparent !important;
}

.navbar-inner .btn-navbar {
    display: none;
}

.navbar-inner {
    position: fixed;
    left: var(--bdv-gap);
    top: var(--bdv-gap);
    width: calc(100% - 2 * var(--bdv-gap));
}

.accordion-toggle.opened::after {
    /* Hide current page arrow */
    display: none;
}

.social-sidebar .menu .accordion {
    display: block !important;
    overflow: hidden !important;
}

.social-sidebar .menu .accordion-group {
    display: block;

    border-radius: 50% !important;
    margin: 10px 0 !important;
    width: 50px;
    height: 50px !important;
}

.social-sidebar .menu {
    display: flex !important;
    flex-direction: column !important;

    height: calc(100% - 50px - 4 * var(--bdv-gap) - 15px) !important;
}

.social-sidebar .menu .accordion {
    flex-grow: 1 !important;
}

.social-sidebar .menu .accordion-group i {
    color: var(--bdv-fg-color) !important;
    font-size: 20px !important;
    transition: all ease-in-out .1s;
    text-align: center !important;
    margin-right: 0 !important;
    margin-bottom: 12px;
}

.social-sidebar .menu .accordion-group i:first-child {
    margin-top: 10px;
}

.social-sidebar .menu .accordion-group:hover i {
    color: var(--bdv-accent-color) !important;
}

.social-sidebar .menu .accordion-group:hover::after,
.sidebar-complement .accordion-group:hover::after {
    position: fixed;
    content: attr(data-title, 'Unknown link');
    display: inline-block;
    background-color: var(--bdv-bg-color);
    opacity: .3;
    transform: translate(calc(50px / 2 + var(--bdv-gap) - 5px), calc(-58px / 2 - 50%));
    padding: 15px;
    color: var(--bdv-fg-color);
    border-radius: var(--bdv-border-radius);
    animation: show-link forwards .5s;
}

.sidebar-complement .accordion-group:hover::after {
    transform: translate(calc(50px / 2 - 50%), -110px);
    animation: show-link-upwards forwards .5s;
}

.sidebar-complement:empty::after {
    content: '[ No additional link to display ]';
    margin: 10px;
    color: var(--bdv-fg-color);
}

@keyframes show-link {
    from {
        opacity: .3;
        transform: translate(calc(50px / 2 + var(--bdv-gap) - 5px), calc(-58px / 2 - 50%));
    }

    to {
        opacity: 1;
        transform: translate(calc(50px / 2 + var(--bdv-gap) + 5px), calc(-58px / 2 - 50%));
    }
}

@keyframes show-link-upwards {
    from {
        opacity: .3;
        transform: translate(calc(50px / 2 - 50%), -105px);
    }

    to {
        opacity: 1;
        transform: translate(calc(50px / 2 - 50%), -110px);
    }
}

.social-sidebar .menu .accordion-group {
    /* Sidebar elements wrappers */

    background-color: transparent !important;
    height: 50px;
}

.social-sidebar .menu .accordion-group {
    margin-right: 0 !important;
}

.social-sidebar .menu .accordion-group i {
    /* Sidebar icon */
    flex-grow: 100 !important;
}

#footer {
    display: none;
}

.bdv-toggler {
    position: fixed;
    bottom: calc(var(--bdv-gap) + 15px);
    left: calc(var(--bdv-gap) + 50px / 2);
    transform: translateX(-50%);
    font-size: 24px;
}

.bdv-toggler i {
    color: var(--bdv-fg-color);
}

.bdv-toggler i:hover {
    color: var(--bdv-accent-color);
}

.hello {
    color: var(--bdv-accent-color);
    padding-left: 10px;
}

.sidebar-complement-wrapper {
    z-index: 999999;
}

.sidebar-complement-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.sidebar-complement-wrapper.active {
    display: block;
}

.sidebar-complement {
    all: unset;
    display: flex;
    position: fixed;
    left: calc(50px + 2 * var(--bdv-gap) + 5px);
    bottom: calc(var(--bdv-gap) + 5px);
    background-color: var(--bdv-bg-color-2);
    border: 4px solid var(--bdv-bg-color);
    border-radius: var(--bdv-border-radius);
    min-width: 100px;
    height: 80px;
    align-items: center;

    box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22),
                0 5px 14px 0 rgba(0, 0, 0, .18) !important;
}

.sidebar-complement > * {
    display: flex;
    border: none;
    margin: 0 4px;
}

.sidebar-complement .accordion-heading {
    background-color: var(--bdv-bg-color);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sidebar-complement .accordion-toggle {
    color: var(--bdv-fg-color);
    transition: all ease-in-out .2s;
}

.sidebar-complement .accordion-toggle:hover {
    color: var(--bdv-accent-color);
}

.nav-indicators .dropdown-menu i {
    display: none !important;
}

/* Calendar styles */

#Brynt_container {
    height: 100px;
}

.app-root > .body {
    display: none;
}

#main * {
    background-color: var(--bdv-bg-color-2) !important;
    color: var(--bdv-fg-color) !important;
}

#main {
    margin-left: 0 !important;
    margin-top: 0 !important;
    padding-bottom: 0 !important;
    border: 10px solid var(--bdv-bg-color-2);
    background-color: transparent;
    border-radius: var(--bdv-border-radius);
}

.page-content {
    min-width: 100px !important;
    min-height: 100px !important;
    background-color: var(--bdv-bg-color);
}

body:not(.bdv) {
    padding: 0 !important;
    background-color: var(--bdv-bg-color);
    overflow-y: hidden;
}

#main > .container-fluid:first-child,
#main > .row-fluid {
    display: none;
}

#main > .container-fluid:last-child {
    padding: 0 !important;
}

.app-root {
    /* Make calendar fit body */
    height: calc(100vh - 50px - 3 * var(--bdv-gap) - 20px - 1px);
    font-size: 10px !important;
}

.b-day-name-date {
    font-size: 16px !important;
}

.b-dayview-day-container .b-calendar-cell:not(.b-last-cell) {
    border-right: 2px solid var(--bdv-bg-color);
}

.b-calendar > * > .b-top-toolbar {
    border-bottom: 2px solid var(--bdv-bg-color);
}

.b-dayview-day-container {
    border-left: 2px solid var(--bdv-bg-color);
}

.b-dayview-day-content {
    border-top: 2px solid var(--bdv-bg-color);
}

.b-yscroll-pad {
    border-left: 1px solid transparent !important;
}

.b-dayview-schedule-container {
    border-left: 2px solid transparent;
}

.b-current-time-indicator {
    border-top: 2px solid var(--bdv-accent-color) !important;
}

.b-current-time-indicator::before {
    background-color: var(--bdv-accent-color) !important;
}

.b-cal-event-wrap {
    width: 100% !important;
}

.b-cal-event {
    border-left: 3px solid var(--bdv-accent-color);
}

.b-event-time,
.b-cal-event-desc > div:first-child {
    font-size: 10px !important;
}

.b-cal-event-desc > .b-event-name:nth-child(2) {
    font-size: 10px !important;
    margin-top: 5px;
}

#main .b-button {
    border: none;
    padding: 0 10px;
}

#main .b-button label {
    margin-bottom: 0;
}

.b-timeaxis-container {
    background-image: none !important;
}

#b-calendar-1-event-tip {
    border: 4px solid var(--bdv-bg-color);
    border-radius: var(--bdv-border-radius) !important;
    box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22),
                0 5px 14px 0 rgba(0, 0, 0, .18) !important;
}

b-calendar-1-event-tip-panel-title {
    color: var(--bdv-fg-color);
}

#b-calendar-1-event-tip header {
    background-color: var(--bdv-bg-color-2);
    color: var(--bdv-fg-color);
    border-bottom: 4px solid var(--bdv-bg-color);
    border-top-left-radius: var(--bdv-border-radius);
    border-top-right-radius: var(--bdv-border-radius);
}

#b-calendar-1-event-tip .b-box-center {
    background-color: var(--bdv-bg-color-2);
    border-bottom-left-radius: var(--bdv-border-radius);
    border-bottom-right-radius: var(--bdv-border-radius);
}

#b-calendar-1-event-tip .b-panel-content * {
    color: var(--bdv-fg-color);
    text-align: end;
}

#b-calendar-1-event-tip .b-panel-content dt {
    color: var(--bdv-accent-color);
    text-align: start;
}

#b-calendar-1-event-tip .b-anchor-bottom {
    /* might re-enable because it somehow decided to inherit its parent borders */
    display: none;
}



html::after {
    content: 'BDV - BetterDeVinci | Egsagon, 2023';
    position: fixed;
    bottom: 0;
    right: var(--bdv-gap);
    font-size: 5px;
    color: var(--bdv-fg-color);
}