:root {
    --fg-color: #F8F8F2;
    --bg-color: #18181a;
    --bg-color-2: #232327;
    --accent-color: #cf0f51;
    --border-radius: 10px;
    --gap: 10px;
    --ext-gap: 10px;
}

* {
    color: #fff;
}

body {
    background-color: #23222b; /* Firefox bg color */
    display: block;
    border-left: 5px solid var(--accent-color);
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

form {
    margin-left: 15px;
    float: left;
}

p {
    font-size: 15px;
    display: inline-block;
    width: 150px;
}

input {
    padding: 0;
    margin: 0;
}

input[type='color'] {
    padding: 0;
    transform: translateY(10px);
    border: none;
    cursor: pointer;
}

input[type='number'] {
    padding: 6px;
    background-color: transparent;
    color: #fff;
    width: 100px;
    border: 1px solid gray;
}

input {
    width: 32px;
    height: 32px;
    outline: none;
}

#accent-color:disabled {
    opacity: .5;
    cursor: not-allowed;
}

#demo {
    width: 300px;
    min-height: 300px;
    float: right;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    padding: var(--ext-gap);
    border-radius: var(--border-radius);
    margin: 10px;
}

#demo, #demo * {
    transition: all ease-in-out .5s;
    overflow: hidden;
}

#demo .head {
    display: flex;
    margin-bottom: var(--gap);
}

#demo .logo {
    width: 50px;
    height: 50px;
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    margin-right: var(--gap);
}

#demo .content {
    display: flex;
    flex-grow: 1;
}

#demo .nbar,
#demo .main {
    flex-grow: 1;
}

#demo .nbar {
    display: flex;
    align-items: center;
    overflow: hidden;
}

#demo .nbar,
#demo .sbar,
#demo .main {
    background-color: var(--bg-color-2);
    border-radius: var(--border-radius);
}

#demo .sbar {
    width: 50px;
    margin-right: var(--gap);
}

#demo .main {
    flex-grow: 1;
}

#demo p {
    font-size: 16px;
    margin: 10px;
    color: var(--fg-color);
}

#reset, #save {
    background-color: transparent;
    color: #fff;
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
    margin-left: 0;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

#save {
    border-color: rgb(72, 174, 72);
}

#reset:hover {
    background-color: red;
}

#save:hover {
    background-color: rgb(72, 174, 72);
}

#controls {
    float: right;
    width: 300px;
    display: flex;
    margin-right: 10px;
    justify-content: center;
}

#demo button {
    height: 40px;
    border: none;
    background-color: var(--fg-color);
    color: var(--bg-color);
    border-radius: var(--border-radius);
    min-width: 50px;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out .3s;
    padding: 0 10px;
    margin-left: 10px;
}

#demo button:last-child {
    background-color: var(--accent-color);
    color: var(--fg-color);
}

#demo button:hover {
    background-color: var(--accent-color);
    color: var(--fg-color);
}

#demo button:last-child:hover {
    background-color: var(--fg-color);
    color: var(--bg-color);
}

form i {
    all: unset;
    display: inline-flex;
    font-size: 16px;
    font-family: sans-serif;
    background-color: #2d8493;
    width: 16px;
    height: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}

form i:hover::after {
    position: fixed;
    content: attr(data-info);
    background-color: #2d8493;
    transform: translateX(calc(50% + 20px));
    max-width: 200px;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 10;
}

input[type='number'] {
    appearance: textfield;
    width: 32px !important;
}

input[type='checkbox'] {
    appearance: none;
    border: 1px solid gray;
    transform: translateY(10px);
}

input[type='checkbox']::before {
    content: ' ';
    display: block;
    background-color: rgb(72, 174, 72);
    width: 0;
    height: 0;
    transform: translate(16px, 16px);
    transition: all ease-in-out .2s;
}

input[type='checkbox']:checked::before {
    width: 16px;
    height: 16px;
    transform: translate(7px, 7px);
}

#logo-type {
    width: 100px;
    height: 32px;
    border: 1px solid gray;
    background-color: transparent;
    padding-left: 7px;
    padding-right: 7px;
    transform: translateY(-.5px);
}