/* Stylesheet for https://www.leonard-de-vinci.net/student/presences/* */

#main .page-title {
    display: none;
}

#main .panel-heading {
    border-bottom: none;
}

#main .panel-heading *,
#main .panel-heading h3 {
    padding: 0;
    text-align: center;
}

#main .span6 {
    padding: 10px;
    border-radius: var(--bdv-border-radius);
    background-color: var(--bdv-bg-color) !important;
    float: none;
    flex-grow: 1;
}

#social-timeline {
    display: flex !important;
}

#presence_cours {
    margin-left: max(5px, var(--bdv-gap));
}

#main .span6 * {
    background-color: transparent !important;
}

#main .panel-body .table {
    display: grid;
    flex-direction: column;
}

#body_presence .alert {
    background-color: var(--bdv-accent-color) !important;
    border: none !important;
    height: 50px;
    border-radius: var(--bdv-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;

}

#body_presence .alert-success {
    background-color: #48ae48 !important;
}

#body_presence .alert-warning:not(i) {
    height: fit-content;
    font-size: 0;
}

#body_presence .alert-warning i,
#body_presence .alert-warning b {
    font-size: 10px;
}

#body_presence i.icon-remove-sign {
    font-size: 24px;
    margin-right: 10px;
}

#main {
    height: calc(100vh - 50px - 2 * var(--bdv-ext-gap) - var(--bdv-gap) - 21px);
    background-color: var(--bdv-bg-color-2) !important;
}

#body-presence span#set-presence.btn {
    background-image: none !important;
    animation: none !important;
    box-shadow: none !important;
    outline: none !important;
    outline-offset: none !important;
    background-color: #48ae48 !important;
}

#bdv-auto-presence {
    background-color: purple !important;
    padding: 8px;
    border: none;
    border-radius: var(--bdv-border-radius);
}

#bdv-auto-presence:hover {
    background-color: blueviolet !important;
}