@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
    /* Minimal default settints from injections/css/base.css
       These will be (hopefully) overriden on popup opening
     */
    --pork-bg-color: #18181a;
    --pork-fg-color: #F8F8F2;
    --pork-accent-color: #cf0f51;
    --pork-border-radius: 10px;
}

* {
    font-family: Poppins, 'Segoe UI', sans-serif;
    user-select: none;
}

h1 {
    color: var(--pork-fg-color);
} 

body {
    min-width: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: var(--pork-bg-color);
}

#edit {
    padding: 5px;
    height: 50px;
    min-width: 120px;
    text-align: center;
    border-radius: var(--pork-border-radius);
    color: var(--pork-fg-color);
    background-color: var(--pork-accent-color);
    transition: all ease-in-out .3s;
    cursor: pointer;
    border: none;
}

#button:hover,
#edit:hover {
    scale: 1.1;
    background-color: var(--pork-fg-color);
    color: var(--pork-bg-color);
}

.socials {
    margin-top: 20px;
    display: flex;
}

.socials i {
    font-size: 20px;
    color: var(--pork-fg-color);
    margin: 4px;
    transition: all ease-in-out .2s;
    padding: 4px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.socials a {
    text-decoration: none;
}

.socials i:hover {
    background-color: var(--pork-accent-color);
}